/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik&family=Sniglet&display=swap");

* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Snigle-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "Lobster", cursive;
  --light-black: #2e2c2caf;
  --light-yellow: #ffc058;
  --bggradient: linear-gradient(to bottom, rgb(27, 12, 95), rgb(207, 33, 155));
  --light-gray: rgba(255, 255, 255, 0.5);
}

/* NAVIGATION BAR */
/* #navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  width: 98.5vw;
  position: fixed;
  background-color: none;
  z-index: 100;
}

#navbar img {
  margin-left: 30px;
  height: 70px;
  width: 50px;
  margin-top: 10px;
}

#navtiles {
  display: flex;
  flex-direction: row;
  padding-left: 3vw;
  font-size: 22px;
  width: 53vw;
  height: 60px;
  justify-content: space-around;
  margin-top: 15px;
}

#navtiles p {
  margin-top: 14px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-align: center;
  width: 13vw;
}

#navtiles a {
  text-decoration: none;
  color: black;
}

#navtiles p:hover {
  cursor: pointer;
}

#navright1 {
  display: none;
}

#navbar #navright1 img {
  position: absolute;
  right: 7vw;
  top: 10px;
  height: 30px;
}

#lastimg {
  display: none;
}

#sidenavbar {
  position: absolute;
  z-index: 10;
  background-color: white;
  padding: 70px 0px 0px 0px;
  height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

#sidenavbar p {
  padding: 10px 0px;
  width: 90%;
  text-align: left;
  margin: 20px auto;
  border-bottom: 1px solid black;
}

#sidenavbar p:hover {
  cursor: pointer;
}

#sidenavbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#darkbtn {
  padding: 20px;
  width: 50%;
  margin: 30px auto;
  border-radius: 20px;
  background-color: yellow;
  font-size: 20px;
  outline: none;
  cursor: pointer;
} */

/* HEADER START */

/* NEW NAVBAR  */

header .navbar img {
  height: 50px;
  width: 30px;
}

header a {
  font-family: var(--Snigle-font);
  font-size: 0.9em;
  color: whitesmoke;
}

header {
  background-color: rgba(46, 195, 219);
  background: var(--bggradient);
}

header .navbar:hover {
  animation: colchan 1s ease-out both;
}

@keyframes colchan {
  0% {
    background-color: rgb(27, 12, 95);
  }

  100% {
    background-color: rgb(18, 6, 82);
  }
}


header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: black;
}

/* NEW HOME SECTION */

header .row .col-md-5 {
  padding: 4.2vmin;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
  font-family: var(--Rubik);
  color: white;
}

header .row .col-md-5 img {
  width: 100%;
  padding-top: 100px;
}

header .row .col-md-5 img {
  animation: mirror 4s linear infinite;
  animation-direction: alternate;
}

@keyframes mirror {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

header .container .col-md-7 h3 {
  padding: 1vmin;
  letter-spacing: 2px;
}

header .container .col-md-7 h1 {
  font-size: 8.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
  font-weight: bold;
}

/* HEADER END */

/* HOME SECTION
header .home {
  width: 98.7vw;
  display: flex;
  flex-direction: row;
  color: white;
  padding-bottom: 30px;
}

header .home:hover {
  animation: colchan 1s ease-out both;
}

@keyframes colchan {
  0% {
    background-color: rgba(46, 195, 219);
  }

  100% {
    background-color: rgba(40, 125, 149);
  }
}

header .homeleft {
  width: 40vw;
  height: 55vh;
  margin: 25vh 0vw 0px 5vw;
}

header .homeleft h1 {
  padding-bottom: 50px;
  font-size: 40px;
}

header .homeleft p {
  font-size: 30px;
  font-weight: 50;
}

header .homeleft h3 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 20px;
}

header .homeright {
  display: flex;
  flex-direction: column;
}

header .phone {
  height: 75vh;
  width: 40vw;
  margin: 20vh 0vw 0px 7vw;
}

header .phone img {
  height: 75vh;
  width: 40vw;
  margin-right: 5vw;
} */

/* PRODUCT SECTION */

.section-1 {
  padding: 20vmin 0;
}

/* DOWNLOADS SECTION */
.section-2 {
  background: var(--bggradient);
}

.section-2 .col-md-6>h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-2 .col-md-6>p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-2 .desktop {
  background: rgb(0, 0, 0);
  color: whitesmoke;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 7vmin;
  margin: 1em;
}

.section-2 .desktop p {
  font-size: 2vmin;
}

/* TECHNOLOGY SECTION */
.section-3 {
  padding: 90px 0px;

}

.tech h1 {
  font-size: 50px;
  padding: 0px 0px 30px 0px;
}

.techstack {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.techstack img {
  width: 7%;
  padding-top: 50px;
}

.techstack img:hover {
  animation: scaleup 1s forwards;
}

@keyframes scaleup {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

/* ABOUT US SECTION */

.section-4 {
  background: url("../static/vr.jpg");
  color: white;
  width: 100%;
}

.section-4 .col-md-12 {
  background: rgba(0, 0, 0, 0.600);
}

.section-4 h1 {
  font-size: 60px;
  padding-top: 30px;
}

.section-4 p {
  font-size: 22px;
  font-family: var(--Rubik);
  padding: 30px;

}

/* TEAM SECTION */
.team {
  text-align: center;
  padding: 50px 0px;
}

.team h1 {
  margin-bottom: 50px;
  font-size: 60px;
}

.teamcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.teamcard {
  width: 22%;
  text-align: center;
  box-shadow: 0 0 2px 2px lightgray;
  margin-bottom: 30px;
  border-radius: 20px;
}

.teamcard img {
  height: 150px;
  width: 100px;
  border-radius: 50%;
  padding: 30px 0px;
}

.teamcard p:nth-of-type(2) {
  width: 25%;
  border-radius: 5px;
  margin: 0px auto;
  background-color: rgb(76, 198, 231);
}

.teamcard p:nth-of-type(3) {
  width: 80%;
  margin: 20px auto;
}

.socialicons {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: 10px auto 20px auto;
  justify-content: space-around;
  text-align: center;
}

/* JOIN US SECTION */
.section-6 {
  padding: 50px;
}

.section-6 .row .col-md-12 .btn {
  border: none;
  font-size: 20px;
  background-color: rgb(16, 154, 192);
}

/* BLOGS SECTION */

.cover {
  width: 100%;
  height: 50vmin;
  background: url("../static/blog-cover.png");
  background-position: 0rem -8rem;
  background-size: 150%;
  position: relative;
}

.cover .content {
  background: rgba(0, 0, 0, 0.600);
  height: 100%;
  width: 100%;
  padding-top: 19vmin;
}

.cover .content>h1 {
  font-family: var(--Lobster);
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content>p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #e5e5e5;
}

.blogs {
  padding-left: 30px;
  font-family: var(--Patua);
}

#filters {
  padding-right: 30px;
  font-family: var(--Rubik);
}

#blogs .btn {
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: rgb(177, 234, 250);
}

#blogs .btn:hover {
  background-color: rgb(16, 154, 192);
  color: whitesmoke;
  cursor: pointer;
}


.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}


.list-img {
  border-radius: 100px;
  height: 50px;
  width: 50px;
}


/* FOOTER SECTION */
footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p>span {
  color: #9f37e4;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: #9f37e4;
  border: none;
  cursor: pointer;
}

footer .column i {
  color: #9f37e4;
}

footer .column i+i {
  padding: 0 0.5em;
}

/* Sticky class */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}