* {
  padding: 0px;
  margin: 0px;
  font-family:'Roboto',sans-serif;
}
#navbar {
  height: 90px;
  width: 98.7vw;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: row;
  z-index: 100;
}
#navbar img {
  margin-left: 30px;
  height: 70px;
  width: 50px;
  margin-top: 10px;
}
#navtiles {
  display: flex;
  flex-direction: row;
  padding-left: 3vw;
  font-size: 22px;
  width: 53vw;
  height: 60px;
  justify-content: space-around;
  margin-top: 15px;
}
#navtiles p {
  margin-top: 14px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-align: center;
  width: 13vw;
}
#navtiles a {
  text-decoration: none;
  color: black;
}
#navtiles p:hover {
  cursor: pointer;
}
.navhid {
  display: none;
  position: absolute;
  height: 170px;
  background-color: white;
  margin-top: 50px;
}
#navhid0 p {
  padding: 20px;
  border-bottom: 2px solid white;
}
#navhid0 p:hover {
  border-bottom: 2px solid black;
}
#navhid1 p {
  padding: 20px;
  border-bottom: 2px solid white;
}
#navhid1 p:hover {
  border-bottom: 2px solid black;
}
#navhid0 {
  margin-left: 200px;
}
#navhid1 {
  margin-left: 550px;
}

#sidenavbar {
  position: absolute;
  z-index: 10;
  background-color: white;
  padding: 90px 0px 50px 0px;
  /* height: 90vh; */
  width: 30vw;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#sidenavbar p {
  padding: 10px;
  background-color: lightgray;
  width: 40%;
  margin: 20px auto;
}
#sidenavbar p:hover {
  cursor: pointer;
}
#sidenavbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
#sidenavbar button {
  padding: 20px;
  width: 50%;
  margin: 30px auto;
}



#loginbtn {
  margin-left: 9vw;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background-color: white;
  color: black;
  font-weight: 500;
  outline: none;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;
}
#loginbtn:hover {
  color: rgba(0, 78, 235);
  background-color: rgba(150, 0, 235, 0.2)
}
#signupbtn {
  margin-left: 1vw;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background-color: rgba(0, 78, 235, 0.2);
  color: rgba(0, 78, 235);
  outline: none;
  font-size: 18px;
  border: 1px solid rgba(0, 78, 235);
  border-radius: 7px;
  cursor: pointer;
}
#signupbtn:hover {
  color: white;
  background-color: rgba(0, 100, 235, 0.5);
}
#getappbtn {
  margin-left: 1vw;
  width: 130px;
  height: 50px;
  margin-top: 20px;
  background-color: rgba(0, 78, 235);
  color: white;
  outline: none;
  font-size: 18px;
  border: 1px solid rgba(0, 78, 235);
  border-radius: 7px;
  cursor: pointer;
}
#getappbtn:hover {
  box-shadow: 5px 5px 1px lightgray;
  background-color: rgba(0, 78, 235, 0.7);
  color: white;
}




#home {
  width: 98.7vw;
  display: flex;
  flex-direction: row;
  background-color: rgba(46, 195, 219);
  height: 100vh;
  color: white;
}
#home:hover {
  animation: colchan 1s ease-out both;
}
@keyframes colchan {
    0% {
        background-color: rgba(46, 195, 219);
    }
    100% {
        background-color: rgba(40, 125, 149);
    }
}
#homeleft {
  width: 40vw;
  height: 55vh;
  margin: 25vh 0vw 0px 5vw;
}
#homeleft h1 {
  padding-bottom: 50px;
  font-size: 40px;
}
#homeleft p {
  font-size: 30px;
  font-weight: 50;
}
#homeleft h3 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 20px;
}
#homeright {
  display: flex;
  flex-direction: column;
}
#phone {
  height: 75vh;
  width: 40vw;
  margin: 20vh 0vw 0px 7vw;
}
#phone img {
  height: 75vh;
  width: 40vw;
  margin-right: 5vw;
}


/* #animated {
  width: 98.7vw;
  padding: 90px 0px 0px 0px;
  text-align: center;
}
.dust {
  position: absolute;
}
#animated h1 {
  font-size: 50px;
  margin-bottom: 70px;
}
#animate {
  width: 90vw;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#animate img {
  height: 300px;
  width: 20%;
} */



#product {
  width: 98.7vw;
  margin: 0px auto;
  padding: 90px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
}
#productleft {
  width: 45vw;
}
#productleft h2 {
  font-size: 40px;
  padding: 10px 0px 0px 15px;
}
#productleft h4 {
  padding: 30px 0px 0px 15px;
}
#productright {
  width: 40vw;
}
#productright img {
  width: 35vw;
  height: 80vh;
  margin-top: 10vh;
}
#productcards {
  display: flex;
  flex-direction: column;
  width: 45vw;
  margin: 0px auto;
}
.productcard {
  width: 40vw;
  background-color: rgb(238, 238, 238);
  margin: 20px auto 15px auto;
  padding: 15px 15px;
  border-bottom: 1px solid gray;
}
.productcard h3 {
  padding: 10px 0px;
}
.productcard p {
  display: none;
}
#productcard1 p {
  display: block;
}



/*                                    TECHNOLOGY                    */
#tech {
  width: 98.7vw;
  padding: 90px 0px;
  background-color: rgb(23, 31, 41);
  color: white;
}
#tech h1 {
  font-size: 50px;
  padding: 0px 0px 30px 0px;
}
#techstack {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
#techstack img {
  width: 8%;
}
#techstack img:hover {
  animation: scaleup 1s forwards;
}
@keyframes scaleup {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}



/*                                      ABOUT US                             */
#abcontent {
  height: 100vh;
  width: 98.7vw;
  padding-top: 100px;
  /* background-image: url("ab1.PNG");
  background-repeat: no-repeat;
  background-size: 100vh 100vw; */
}
#ab {
  height: 100vh;
  width: 90vw;
  margin: 0px auto;
  /*background-color: rgb(238, 238, 238);*/
}
#ab h1 {
  font-size: 50px;
  padding: 0px 20px 40px 30px;
}
#ab p {
  font-size: 20px;
  padding: 0px 20px 20px 30px;
}
#abheads {
  display: flex;
  flex-direction: row;
  width: 35vw;
  justify-content: space-between;
  margin-left: 2vw;
}
#abheads p {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid rgb(210, 210, 210);
  background-color: rgb(210, 210, 210);
  cursor: pointer;
}
#abheads p:hover {
  border: 1px solid rgb(0, 100, 230);
  background-color: rgb(0, 100, 230);
  color: white;
}
#slider {
  width: 90vw;
  margin: 50px auto;
  height: 50vh;
}
#slider .slideritem {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  height: 40vh;
  width: 20vw;
  outline: none;
  cursor: grab;
  background-color: white;
}
.slideritem h4 {
  font-size: 20px;
  padding: 15px 0px 15px 15px;
}

#slider p {
  font-size: 17px;
  padding: 10px 0px 20px 15px;
  margin-left: 0px;
}



/*                                     BLOGS SECTION                               */
#blogsection {
  width: 98.7vw;
  margin: 0px auto 0px auto;
  padding: 90px 0px 70px 0px;
  text-align: center;
}
#blogsection h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
#blogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  background-color: rgb(230, 230, 230);
}
.blogcard {
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.blogcard img {
  height: 30vh;
  border-radius: 10px;
}
.blogcontent {
  width: 90%;
  margin: 20px auto;
}
.blogcontent h3 {
  padding-bottom: 20px;
}
.blogcontent p {
  padding-bottom: 20px;
}
.blogcontent a {
  text-decoration: none;
  color: blue;
}



/*                                TEAM SECTION                          */
/* #teamcontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 98.7vw;
  padding: 90px 0px;
  color: white;
  background-color: rgb(23, 31, 41);
} */
/* #sliderteam {
  width: 70vw;
  margin: 50px auto;
  height: 50vh;
}
#sliderteam .slideritem1 {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  height: 50vh;
  width: 30%;
  text-align: center;
  outline: none;
  cursor: grab;
  background-color: lightgray;
  border-radius: 10px;
  color: black;
}
#sliderteam p {
  font-size: 17px;
  padding: 10px 0px 20px 15px;
  margin-left: 0px;
}
.slideritem1 h4 {
  font-size: 20px;
  padding: 15px 0px 15px 15px;
}
.slideritem1 img {
  height: 30vh;
  border-radius: 10px;
} */



/* #teamcontent h1 {
  font-size: 80px;
  margin-top: 40%;
}
svg {
  display:block;
  width:200px;
  height:200px;
}
#zteam {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#fteam {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#steam {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#tteam {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
/* .teamwork {
  width: 30%;
} */
/* .teamcard img {
  height: 200px;
  width: 200px;
  z-index: 2;
}
#border img:first-of-type {
  transform: rotate(-45deg);
}
#border {
  height: 200px;
  width: 200px;
  border: 5px solid white;
  transform: rotate(45deg);
  background-color: white;
  z-index: 5;
}
.teamcard h4 {
  font-size: 22px;
}
.teamcard p {
  font-size: 16px;
}
.dev h1 {
  font-size: 70px;
  padding-top: 70px;
}
.teamcard {
  text-align: center;
} */


#diamond-grid {
  background-color: white;
  height: 150vh;
  width: 98.7vw;
}
#diamond-grid h1 {
  position: relative;
  font-size: 80px;
  left: 65vw;
  top: 100px;
  width: 33vw;
}
#diamond-grid ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 98.7vw;
  height: 100vh;
}
#diamond-grid ul li {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #000;
  margin: 100px;
  transform: rotate(45deg);
  transition: .5s;
  overflow: hidden;
}
#diamond-grid ul li img {
  width: 200px;
  height: 200px;
  transform: rotate(-45deg) scale(1.3);
  overflow: hidden;
}
#diamond-grid ul li img:hover {
  /* transform: scale(1.3); */
}
#diamond-grid ul li.item1 {
  top:43%;
  left: 0;
}
#diamond-grid ul li.item2 {
  top:0;
  left: 21%;
}
#diamond-grid ul li.item3 {
  top: 43%;
  left: 21%;
}
#diamond-grid ul li.item4 {
  top: 86%;
  left: 21%;
}
#diamond-grid ul li.item5 {
  top: 21.5%;
  left: 32%;
}
#diamond-grid ul li.item6 {
  top: 64.5%;
  left: 32%;
}
#diamond-grid ul li.item7 {
  top:43%;
  left: 43%;
}





#footer {
  width: 98.7vw;
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 5vh 0px;
}
#footercontent {
  width: 80vw;
  display: flex;
  flex-direction: row;
  margin: 5vh auto;
  justify-content: space-around;
}
.foot {
  width: 20%;
  line-height: 1.5;
  text-align: right;
}
.foot h4 {
  font-size: 25px;
}
.foot p {
  font-size: 18px;
}
#footer h1 {
  font-size: 60px;
  padding-top: 40px;
}
